/* ESTILOS SECCION ROLES */
.adminContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    margin-top: 50px;
    border-radius: 30px;
    height: auto;
    padding: 20px 0;
}

.adminButtonsContainer {
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
    max-Width: 600px;
    margin: 30px auto 0px auto; 
    gap: 50px;
}

/* Asegúrate de que los encabezados de tabla permanezcan fijos */
.rolesTable thead {
    position: sticky;
    top: 0;
    background-color: var(--primary-color); /* Mismo color de fondo */
    z-index: 1; /* Asegura que los encabezados estén por encima del contenido */
}

/* Estilos para la barra de desplazamiento (scroll) en navegadores webkit */
.tableContainer::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.tableContainer::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del track */
    border-radius: 4px; /* Borde redondeado del track */
}

.tableContainer::-webkit-scrollbar-thumb {
    background: var(--button-color); /* Color de la barra de desplazamiento */
    border-radius: 4px; /* Borde redondeado de la barra */
}

.tableContainer::-webkit-scrollbar-thumb:hover {
    background: #4567B6; /* Color al pasar el cursor por la barra */
}

.adminButton {
    min-width: 360px; /* Sobrescribe el min-width del botón */
}

/* Estilos para la tabla de roles */
.tableContainer {
    width: 90%; 
    margin: 20px auto;
    max-height: 400px; /* Altura máxima para el contenedor */
    overflow-y: auto; /* Permite scroll vertical */
    overflow-x: hidden; /* Oculta scroll horizontal */
}

.adminContentRoles p {
    font-size: var(--large-text-size);
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px; /* Añadido padding horizontal */
}

/* Estilos para la tabla de roles */
.tableContainer {
    width: 90%; 
    margin: 20px auto;
    overflow-x: auto;
}

.rolesTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: transparent; /* Sin color de fondo */
    table-layout: fixed; /* Ancho fijo de columnas */
}

.rolesTable th, .rolesTable td {
    justify-content: space-around; /* Distribución de espacio alrededor */
    text-align: center;
}

.tableHeader {
    padding: 15px 20px;
    font-size: var(--large-text-size);
    color: var(--text-color);
    font-weight: 600;
    background-color: transparent; /* Sin fondo */
    text-align: center;
    border: none; /* Sin bordes */
}

.rolName {
    padding: 15px 20px;
    font-size: var(--large-text-size);
    color: var(--text-color);
    text-align: center;
    border-bottom: 1px solid #000000; /* Solo línea inferior */
}

.statusActive {
    color: var(--success-color); /* Color de texto en verde */
    font-size: var(--large-text-size);

}

.statusInactive {
    color: var(--error-color); /* Color de texto en rojo */
    font-size: var(--large-text-size);

}

.actionColumn {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #000000; /* Solo línea inferior */
}

.actionButton {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.actionButton:hover {
    transform: scale(1.2);
}

.actionIcon {
    width: 30px;
    height: 30px;
}

/* Remover bordes de primera y última fila */
.rolesTable tr:first-child td {
    border-top: none;
}

.rolesTable tr:last-child td {
    border-bottom: none;
}

/* Aplicar bordes solo a celdas internas */
.rolesTable td {
    border-bottom: 1px solid #000000;
}

/* Estado de celda hover */
.rolesTable tbody tr:hover td {
    background-color: rgba(0, 0, 0, 0.02); /* Sutil cambio al hacer hover */
}
