/* ESTILOS SECCION ROLES */
.adminContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    margin-top: 40px;
    border-radius: 24px;
    height: auto;
    padding: 14px 0;
}

.adminButtonsContainer {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
    max-width: 400px;
    margin: 20px auto 0px auto; 
    gap: 24px;
}

.adminButton {
    min-width: 280px;
    font-size: 16px;
    padding: 12px 12px;
}

/* Asegúrate de que los encabezados de tabla permanezcan fijos */
.rolesTable thead {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    z-index: 1;
}

/* Estilos para la barra de desplazamiento (scroll) en navegadores webkit */
.tableContainer::-webkit-scrollbar {
    width: 8px;
}
.tableContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}
.tableContainer::-webkit-scrollbar-thumb {
    background: var(--button-color);
    border-radius: 4px;
}
.tableContainer::-webkit-scrollbar-thumb:hover {
    background: #4567B6;
}

/* Estilos para la tabla de roles */
.tableContainer {
    width: 90%;
    margin: 16px auto;
    max-height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.adminContentRoles p {
    font-size: 18px;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 14px;
    text-align: center;
    padding: 0 12px;
}

.rolesTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: transparent;
    table-layout: fixed;
}

.rolesTable th, .rolesTable td {
    justify-content: space-around;
    text-align: center;
    padding: 8px 10px;
    font-size: 16px;
}

.tableHeader {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 600;
    background-color: transparent;
    text-align: center;
    border: none;
}

.rolName {
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
    border-bottom: 1px solid #000000;
}

.statusActive {
    color: var(--success-color);
    font-size: 16px;
}

.statusInactive {
    color: var(--error-color);
    font-size: 16px;
}

.actionColumn {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #000000;
}

.actionButton {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.actionButton:hover {
    transform: scale(1.2);
}

.actionIcon {
    width: 22px;
    height: 22px;
}

/* Remover bordes de primera y última fila */
.rolesTable tr:first-child td {
    border-top: none;
}
.rolesTable tr:last-child td {
    border-bottom: none;
}

/* Aplicar bordes solo a celdas internas */
.rolesTable td {
    border-bottom: 1px solid #000000;
}

/* Estado de celda hover */
.rolesTable tbody tr:hover td {
    background-color: rgba(0, 0, 0, 0.02);
}