.container {
    display: flex;
    flex-direction: column;
    font-family: var(--client-font-family);
}

.backButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 0;
    font-family: var(--client-font-family);
}

.backIcon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.title {
    font-size: 20px;
    font-weight: var(--client-font-weight-medium);
    margin-top: 10px;
    color: #333;
    font-family: var(--client-font-family);
}