.loginBg {
    min-height: 100vh;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
}

.centerContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    margin-top: 80px;
    padding: 0;
}

.form {
    background: var(--primary-color);
    border-radius: 5px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    padding: 38px 130px 28px 130px; /* Más padding lateral */
    min-width: 280px;             /* Más ancho mínimo */
    max-width: 480px;             /* Más ancho máximo */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: stretch;
}

.label {
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    color: var(--text-color);
}

.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 36px 12px 12px;
    border-radius: 6px;
    border: 1px solid #DEDEDE;
    background-color: #EBEBEB;
    outline: none;
    transition: background 0.2s;
    color: var(--text-color);
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
}

.input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #888;
    opacity: 1;
}


.eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.7;
    background: none;
    border: none;
    padding: 0;
    z-index: 2;
}
.eyeIcon:hover {
    opacity: 1;
}

.input:focus,
.input:not(:placeholder-shown) {
    background: #fff;
}

.forgotPassword {
    background: none;
    border: none;
    color: #888;
    font-size: 16px;
    text-align: end;
    margin-bottom: 8px;
    cursor: pointer;
    padding: 0;
    transition: color 0.2s;
}

.forgotPassword:hover {
    color: #444;
    text-decoration: underline;
}

.orText {
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    margin: 10px 0 0 0;
}


.googleButton {
    background: #fff;
    color: #222;
    border: 1px solid #d0d0d0;
    margin-top: 4px;
    border-radius: 8px;
    padding: 12px 10px;
    font-weight: var(--font-weight-semibold);
    font-size: 16px;
}

.googleButton:hover {
    background: #f5f5f5;
}

.loginButton {
    background: var(--button-color);
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 10px;
    min-width: 80px;
    margin: 0;
}

.loginButton:hover {
    background: #4567B6;
}

