@import '../base/admin-variables.css';

/* Estilos específicos para la página de administrador */
:root {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--primary-color);
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;    
}


.admin-page {
    height: auto;
}

.admin-layout {
    display: flex;
    flex: 1;
    height: calc(100vh - 80px); /* Resta la altura del navbar */
}

.admin-content {
    flex: 1;
    padding: 20px 40px;
    background-color: var(--background-color);
    overflow-y: auto; /* Permite scroll si el contenido es muy grande */
    margin-left: 250px; /* Ancho del sidebar */
    margin-top: 80px; /* Altura del navbar */
    width: calc(100% - 240px); /* Ocupa el ancho restante después del sidebar */
    height: calc(100vh - 80px); /* Ocupa el alto restante después del navbar */
    box-sizing: border-box;
    /* position: absolute; /* Fija el contenido */
    top: 0;
    right: 0;
    border-top-left-radius: 30px; /* Curvatura más pronunciada */
}
