/* ESTILOS SECCION ROLES */
.adminContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    margin-top: 40px;
    border-radius: 24px;
    height: auto;
    padding: 14px 0;
}

.adminButtonsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 400px;
    margin: 20px auto 0px auto;
    gap: 24px;
}

.adminButton {
    min-width: 400px;
    font-size: 16px;
    padding: 12px 12px;
}
