.adminContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    margin-top: 40px;
    border-radius: 24px;
    height: auto;
    padding: 14px 0;
}

.adminContentRoles p {
    font-size: 18px;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 14px;
    text-align: center;
    padding: 0 12px;
}

.actionButton {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.actionButton:hover {
    transform: scale(1.2);
}

.actionIcon {
    width: 22px;
    height: 22px;
}

.nuevoButton {
    margin-left: 50px;
    background: #FBFBFB;
    color: var(--text-color);
    font-size: 16px;
    border-radius: 18px;
    padding: 8px 18px;
    font-weight: 600;
    border: 1px solid #222; /* Contorno negro */
    cursor: pointer;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
}

.nuevoButton:hover {
    background: #4567B6;
    color: #fff;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(30, 30, 30, 0.35);
    backdrop-filter: blur(1px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% + 240px); /* Ocupa el ancho restante después del sidebar */
    height: calc(100vh + 80px); /* Ocupa el alto restante después del navbar */
}

.modalContent {
    background: #fff;
    border-radius: 18px;
    padding: 10px 28px 24px 28px;
    min-width: 320px;
    /* Sombra recta hacia la derecha y abajo */
    box-shadow: 12px 16px 0 0 rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modalContent h2 {
    margin-bottom: 18px;
    font-size: 22px;
    color: var(--text-color);
    font-weight: 700;
}

.modalContent label {
    margin-bottom: 18px;
    font-size: 16x;
    color: var(--text-color);
    font-weight: 400;
}

.input {
    width: 100%;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 38px;
    border: 1px solid #d0d0d0;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.error {
    color: var(--error-color);
    font-size: 14px;
    margin-bottom: 10px;
}

.modalActions {
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: center;
}

.enviarButton {
    background: var(--success-color);
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.enviarButton:hover {
    background: #3fa32a;
}

.salirButton {
    background: #D64C4C;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}
.salirButton:hover {
    background: #a83232;
}
